<%- include('partials/header.ejs'); %>
    <div class="intro">
        <h1>Welcome to Musically!</h1>
        <form action="/footer" method="post">
            <input class="country" type="text" name="country" placeholder="Enter any Country">
            <button class="btn" type="submit">Go!</button>
        </form>
    </div>

