<h1>Welcome to Musically</h1>
<form action="/" method="post">
    <input class="artist" type="text" name="artist" placeholder="Enter Artist's name">
    <button class="btn" type="submit">Go!</button>
</form>
