<%- include('partials/header.ejs'); %>
<%- include('body.ejs'); %>

    <div class="parent">
        <p>Trending Artists and Songs</p>
        <div class="child artists">
            <h2>Artists</h2>
            <ul>
                <% name.forEach(name => { %>
                    <li><%=name%></li>    
                <% }); %>
            </ul>
        </div>
        <div class="child songs">
            <h2>Songs</h2>
            <ul>
                <% song.forEach(song => { %>
                    <li><%=song%></li>    
                <% }); %>
            </ul>
        </div>
    </div>
</div>

</body>
</html>