.container{
    text-align: center;
    background-color: bisque;
    padding-top: 30px;
    padding-bottom: 50px;
}

.child{
    display: inline-block;
}

.artists{
    background-color: red;
}

.songs{
    background-color: yellow;
}