body{
    /* background-image: url("bg-image.png"); */
    background-color: black;
}
.container{
    background-color: rgb(35, 35, 35);
    margin-top: 60px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 50px;
    color: aliceblue;
    text-align: center;
    padding-top: 1px;
    padding-bottom: 1px;
    border-radius: 5px;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

p{
    font-size: 80px;
    font-family: 'VT323', monospace;
    margin-bottom: 50px;
}

.intro{
    font-family: 'VT323', monospace;
    font-size: 20px;
    border-radius: 10px;
    color: black;
    background-color: rgb(17, 245, 17);
    padding-bottom: 10px;
    margin-left: 100px;
    margin-right: 100px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.parent{
    margin-top: 50px;
}

.child{
    font-size: 30px;
    font-family: 'VT323', monospace;
    text-align: center;
    display: inline-block;
    width: 300px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.artists{
    color: black;
    background-color: rgb(17, 245, 17);
    margin-right: 5px;
    border-radius: 10px;
}

.songs{
    color: black;
    margin-left: 5px;
    background-color: rgb(17, 245, 17);
    border-radius: 10px;
}

.btn{
    font-family: 'VT323', monospace;
    background-color: white;
    font-size: 30px;
    border: 10px;
    border-radius: 10px;
}
.btn:hover{
    font-size: 31px;
}

.country{
    font-family: 'VT323', monospace;
    font-size: 30px;
    text-align: center;
    border-radius: 10px;
    border: 10px;
    background-color: white;
}